* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter';
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
}


body {
  background-image: url(./svg/backg.svg);
  background-size: cover;
}
main{
    margin: auto;
    background-color: #4D8764;
    opacity: 0.9;
    width: 55rem;
    border-radius: 2rem;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 5rem;
    padding-top: 5rem;
    gap: 2rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

#logoImg {
    width: 10rem;
    border-radius: 5rem;
}
.input{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-inline: 10rem;
    margin-bottom: 4rem; 
}

.input input{
    background:none ;
    border: none;
    width: 100%;
    padding-block: 1.5rem;
    padding-left: .5rem;  
    font-size: 1.8rem;
    font-weight: 700;
}

.input input::placeholder{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

.input img{
    width: 2.5rem;
}

.checkbox{
    display: flex;
    margin-left: 5rem;
    gap: 1rem;
    color: white;

    font-size: 2rem;
}

main p {
    font-size: 2rem;
    color: white;
}



#btn {
    display: flex;
    justify-content: center;
}

button{

    padding-inline: 12rem;
    padding-block: 1.5rem;
    background-color: #00694A; 
    color: white;
    border: none;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 1rem;

    cursor: pointer;

}

#senha, #link{
    margin-left: 7.3rem;
    color: white;
    margin-bottom: 3rem;
}
