body {
  background-image: url(./svg/backg.svg);
  background-size: cover;
  }
  main{
      margin: auto;
  background-color: #4D8764;
  opacity: 0.9;
  width: 500px;
  border-radius: 20px;
  }
  #logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 100px;
  padding-top: 50px;
  }
  .input{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-inline: 50px;
  margin-bottom: 30px;
  
  }
  .input input{
      background:none ;
      border: none;
      width: 100%;
      padding-block: 10px;
      padding-left: 5px;
  
  }
  .input input::placeholder{
      color: white;
  }
  .input img{
  width: 25px;
  }
  .checkbox{
      display: flex;
      margin-left: 50px;
  color: white;
  }
  .checkbox input{
      background: none;
      
  }
  button{
  padding-inline: 120px
  ;
  padding-block: 15px;
  margin-left: 100px;
  background-color: #00694A; 
  color: white;
  border: none;
  margin-bottom: 70px;
  }
  #senha{
      margin-left: 50px;
      color: white;
      margin-bottom: 30px;
  }