* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'inter', sans;

    text-decoration: none;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */

    --cor-primaria: #4D8764;
    --cor-secundaria: #6CBE83;
    --cor-header: #6CBE83;

    

    --cor-texto: #ED7B05;
}

html {
    height: 100%;
    max-width: fit-content;

    scroll-behavior: smooth;

   background-color: whitesmoke;

}

body {
    overflow: overlay;
}

#fundo {
    position: relative;
    margin: auto;
}



#cabecalho {
    display: flex;
    align-items: center;

    padding: 1% 0% 0% 7%;

    width: 100%;
    z-index: 2;

    background-color: var(--cor-header);
}

#cabecalho button {
    background: none;
    border: none;
    cursor: pointer;
}

#carrossel  {
    background: whitesmoke;   
    padding: 0;
}

header div {
    padding-left: 2rem;
    display: flex; 
    gap: 3rem; 
}

#menuImg {
    width: 100%;
}

#loginImg {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 3rem;
}

#loginImg:hover {
    background-color: var(--cor-primaria);
    border-radius: 30px;
    transition: 0.5s;
    
}

#pesquisa-btn {
    position: relative;
    right: 85%;
}

#logoImg {
    width: 6rem;
    border-radius: 3rem;
}

.logo {
    margin-left: 37%;
}

.inputAndButton {
    margin-left: 27%;
}

#pesquisa::placeholder {
    color: black;
}

#pesquisa {


    width: 90% ;
    height: 3.9rem;

    background-color: rgba(40, 89, 11, 0.315) ;
    opacity: 70%;
    border-radius: .5rem;
    border: none;

    

    padding-left: 17%;
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 700;
}

/*===== Menu sidebar ========*/

nav .sidebar {
    position: absolute;
    width: 30rem;
    left: -30rem;
    height: 100vh;
    background: rgba(24, 24, 24, 0.966);
    transition: all .5s ease;
    z-index: 1;
    visibility: hidden;
}

nav .sidebar aside {

    font-size: 2.8rem;
    color: #cebd92;
    line-height: 7rem;
    text-align: center;
    user-select: none;
}

.aMenu{
    display: flex;
    align-items: center;
    height: 6.5rem;
    width: 100%;
    color: #d9560b;
    line-height: 6.5rem;
    transition: all .3s ease;
    border-bottom: .1rem solid ;
    border-top: .1rem solid rgba(255, 255, 255, .1);
    border-left: .5rem solid transparent;
}

.aMenu:active, .aMenu:hover {
    border-left: .5rem solid var(--cor-primaria);
    color: #daf82f;
}

nav .sidebar a i {
    font-size: 3rem;
    margin-left: 3rem;
}

nav .sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 2rem;
    
}

nav #check {
    display: none;

}


nav label #btn,label #cancel {
    position: absolute;
    cursor: pointer;
    color: #d9560b;
    border-radius: .5rem;
    margin: 2rem 3rem;
    font-size: 2.8rem;
    height: 5rem;
    width: 5rem;
    transition: all .5s ease;

    border: .1rem solid  ;
    background: #262626;
    text-align: center;
    line-height: 5rem;

    max-width: 100%;
}

nav label #cancel{
    opacity: 0;
    visibility: hidden;
}

nav #check:checked ~ .sidebar{
    left: 0;
    visibility: visible;
    transition: all .5s ease;

}

nav #check:checked ~ label #cancel{
    margin-left: 30.5rem;
    opacity: 1;
    visibility: visible;
   
}

/* SEU CODIGO AQUI */

header {
    display: flex;
    justify-content: center;
}

/*=======================================  1 =================================================*/

main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

section {
    

    font-size: 2rem;
    display: flex;
    width: 60rem;
    gap: 3rem;
    align-items: center;
    margin-left: 2rem;
}

#box2 {
    margin-left: 60rem;
}

.estrelas {
    margin-left: 45rem;
}

.divBtn {
    width: 76rem;
}

#textarea {
    margin-top: 5rem;
    width: 76rem;
    height: 31rem;

    font-size: 2.5rem;
    padding: 2rem;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
    border: none;
    text-decoration: none;
    border-radius: 1rem;
}



.divBtn {
    margin: auto;
}


#btn {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    margin-top: 1rem;
    align-items: center;
}

#btn img {
    height: 2.6rem;
    cursor: pointer;
}

#btn_enviar {
    padding: 1.5rem;
    background-color: #00694A;
    color: white;
    border-radius: 1rem;
    text-transform: uppercase;
    
    
}


/*============= FOOTER =============*/

footer {
    background-color: var(--cor-primaria);
    margin-top: 90px;
}

#infoFooter {

    display: flex;
    justify-content: space-between;
}



#lado-esquerdo {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    gap: 3rem;

    padding-top: 5.6rem;
    padding-bottom: 2rem;
    width: 50%;
}

#lado-direito {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 10rem;


}

#info-restaurante {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#info-restaurante div {
    display: flex;
    align-items: center;

    color: var(--cor-texto);
    gap: 5rem ;
    
}

#info-restaurante p {
    padding-right: 40rem;
}


#info-restaurante h3 {
    font-size: 2.5rem;
}

.footer-info {
    font-size: 2rem;
    color: var(--cor-texto);
}

#atendimento {
    display: flex;
    gap: 5%;
}

#navegacao, #redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#navegacao ul li a, #redes-sociais ul li a{
    text-decoration: none;
    color: var(--cor-texto);
}

#navegacao ul, #redes-sociais ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

#redes-sociais {
    padding-right: 25rem;
}

#redes-sociais ul {
    display: flex;
    justify-content: center;
}

#copyright {
    display: flex;
    justify-content: space-between;

    font-size: 1.6rem;

    padding-inline: 10rem;
    padding-block: 3rem;
}

#span-copy {
    margin-inline: 3rem;
}