* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'inter', sans;

    text-decoration: none;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */

    --cor-primaria: #4cbc0d;
    --cor-secundaria: #28590b;
    --cor-terceira: #bf0a0a;
    --cor-header: #00995B;
    --cor-laranja: #FF7500;

    --cor-texto: #FFFFFF;
}

html {
    height: 100%;

    scroll-behavior: smooth;

   background-color: var(--cor-secundaria); 

}

body {
    overflow: overlay;
}

#fundo {
    margin: auto;
    width: fit-content;
}

#cabecalho {
    display: flex;
    align-items: center;

    padding: 1% 0% 0% 7%;

    width: 100%;
    z-index: 2;
}

#cabecalho button {
    background: none;
    border: none;
    cursor: pointer;
}

#cabecalho {
    background-color: var(--cor-header);
}

header div {
    padding-left: 2%;
    display: flex; 
    gap: 3%; 
}

#loginImg {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 3rem;
}

#loginImg:hover {
    background-color: var(--cor-primaria);
    border-radius: 3rem;
    transition: 0.5s;
    
}

#pesquisa-btn {
    position: relative;
    right: 85%;
}

#logoImg {
    width: 6rem;
}

.logo {
    margin-left: 37%;
}

.inputAndButton {
    margin-left: 27%;
}

#pesquisa::placeholder {
    color: black;
}

#pesquisa {


    width: 90% ;
    height: 3.9rem;

    background-color: #28590b50 ;
    opacity: 70%;
    border-radius: .5rem;
    border: none;

    

    padding-left: 17%;
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 700;
}

/*===== Menu sidebar ========*/

nav .sidebar {
    position: absolute;
    width: 30rem;
    left: -30rem;
    height: 100vh;
    background: rgba(24, 24, 24, 0.966);
    transition: all .5s ease;
    z-index: 1;
    visibility: hidden;
}

nav .sidebar aside {

    font-size: 2.8rem;
    color: #cebd92;
    line-height: 7rem;
    text-align: center;
    user-select: none;
}

.aMenu{
    display: flex;
    align-items: center;
    height: 6.5rem;
    width: 100%;
    color: #d9560b;
    line-height: 6.5rem;
    transition: all .3s ease;
    border-bottom: .1rem solid ;
    border-top: .1rem solid rgba(255, 255, 255, .1);
    border-left: .5rem solid transparent;
}

.aMenu:active, .aMenu:hover {
    border-left: .5rem solid var(--cor-primaria);
    color: #daf82f;
}

nav .sidebar a i {
    font-size: 3rem;
    margin-left: 3rem;
}

nav .sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 2rem;
    
}

nav #check {
    display: none;

}


nav label #btn,label #cancel {
    position: absolute;
    cursor: pointer;
    color: #d9560b;
    border-radius: .5rem;
    margin: 2rem 3rem;
    font-size: 2.8rem;
    height: 5rem;
    width: 5rem;
    transition: all .5s ease;

    border: .1rem solid  ;
    background: #262626;
    text-align: center;
    line-height: 5rem;

    max-width: 100%;
}

nav label #cancel{
    opacity: 0;
    visibility: hidden;
}

nav #check:checked ~ .sidebar{
    left: 0;
    visibility: visible;
    transition: all .5s ease;

}

nav #check:checked ~ label #cancel{
    margin-left: 30.5rem;
    opacity: 1;
    visibility: visible;
   
}

/* ========== sidebar mobile ========*/

@media(max-width: 800px){nav .sidebar{
    position: fixed;
    height: auto;
    width: 6rem;
    left: 0;
    margin: 10rem 0;
    }

    nav aside,#btn,#cancel {
        display: none;
    }

    nav span {
        position: absolute;
        margin-left: 2.3rem;
        opacity: 0;
        visibility: hidden;
    }

    nav .sidebar a{
        height: 6rem;
    }

    nav .sidebar a i {
        margin-left: 1px;
        padding-left: 1rem;
    }

    nav a:hover {
        width: 20rem;
        background: inherit;
        border-bottom-right-radius: 30px;
    }

    nav .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
        margin-left: 4rem;
    }

}



/*================== SEU CODIGO ===================*/

main {
    background-image: url(../assets/home_cardapio.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 27rem;
    display: flex;
    flex-direction:row-reverse;
}

main h2 {
    z-index: 1;
    padding: 2rem;
    background-color: #D9560B;
    color: whitesmoke;
    width: 35rem;
    border-radius: 1.6rem;
    text-align: center;
    margin-top:16rem;
    text-transform:uppercase;
    font-size: 2.6rem;
}

.Btncomidas{
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    
    
}

.Btncomidas button{
    padding: 2rem;
    margin-inline: 0.8rem;
    border-radius: 1rem;
    border: none;
    background-color: #D9560B;
    color: whitesmoke;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    
}

.Btncomidas button:active, .botao_pedidos:active{
    background-color: #d16d32;
    transform: translateY(4px);   
}
section {
    background-color: whitesmoke;
}

.comidas{
    width: 50rem;
    border-radius: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    

}

.comidas img{
    width: 100%;
    border-radius: 1.6rem;
}

.comidas h3, .comidas p{
    text-align: center;
    color: rgb(69, 69, 69);
    font-size: 1.9rem;

}


.comidas h3{
    color:#38463e;
    text-transform: uppercase;
}

.comidas p{
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: justify;

}

#agua{
    width: auto;
}

.comidas span{
    color:#D9560B;
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    flex-direction: row-reverse;
    
}

#div1{
    padding-top: 4rem;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7{
    display: flex;
    justify-content: space-between;
    padding-inline: 17rem;
    width: auto;
    
    
    
}




#div1 div img, #div2 div img, #div3 div img, #div4 div img, #div5 div img, #div6 img, #div7 img{
    width: 15rem;
    height: 15rem;
    

}








.botao_pedidos{
    width: 18rem;
    height: 6rem;
    background-color: #D9560B;
    color:white;
    text-transform: uppercase;
    border-radius: 1rem;
    font-weight: 700;
    border: none;
    margin-left: 63.5rem;
    margin-bottom: 8rem;
    cursor: pointer;
}



/*============= FOOTER =============*/

footer {
    background-color: var(--cor-header);
}

#infoFooter {
    display: flex;
    justify-content: space-between;
}



#lado-esquerdo {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    gap: 2rem;

    padding-top: 3rem;
    padding-bottom: 1.5rem;
    width: 50%;
}

#lado-direito {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 5rem;
}

#logoAndName img{
    width: 6rem;
    margin: 0;
    border-radius: 3rem;
}

#info-restaurante {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#info-restaurante div {
    display: flex;
    align-items: center;
    color: var(--cor-texto);
    gap: 2rem ;
    
}

#info-restaurante p {
    padding-right: 25rem;
}


#info-restaurante h3 {
    font-size: 2rem;
}

.footer-info {
    font-size: 1.8rem;
    color: var(--cor-texto);
}

#atendimento {
    display: flex;
    gap: 5%;
}

#navegacao, #redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#navegacao ul li a, #redes-sociais ul li a{
    color: var(--cor-texto);
}

#navegacao ul, #redes-sociais ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

#redes-sociais {
    padding-right: 25rem;
}

#redes-sociais ul {
    display: flex;
    justify-content: center;
}

#redes-sociais ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#copyright {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding-inline: 8rem;
    padding-block: 2rem;
}

#span-copy {
    margin-inline: 3rem;
}

/* RESPONSIVO */

@media only screen and (max-width: 480px){
    
    /* CSS RESET */
    main, .inputAndButton, #login-btn, #logoAndName img, #navegacao, .textLink, #copyright  {
       display: none;
   }

   body {
    width: 100%;
    }


    #cabecalho {
        position: fixed;
        width: 100%;
        justify-content: center;
        padding: 0;
        height: 6.7rem;
        margin: 0;
        z-index: 1;
    }

    .logo {
        height: 60px;
        margin: auto;
        padding: 0;
        margin: 0;
    }

    #logoImg {
        height: 100%;
        width: 100%;
    }

    .Btncomidas {
        position: relative;
        top: 6.7rem;
        width: 100%;
    }

    #div1, #div2, #div3, #div4, #div5, #div6, #div7 {
        margin: 0;
        padding-inline: 0;
        display: block;
        width: 100%;
    }

    .botao_pedidos {
        margin: 0;
    }

    /* FOOTER */

    #infoFooter {
        display: block;
    }

    #lado-esquerdo {
        width: 95%;
        margin: auto;
        padding: 1rem;
        gap: .8rem;
    }

    #info-restaurante {
        width: 100%;
        gap: .5rem;
    }

    #info-restaurante #logoAndName {
        display: initial;
    }

    .footer-info {
        font-size: 1.3rem;
    }
    #logoAndName h3 {
        text-align: center;
        font-size: 1.5rem;
    }

    #lado-direito {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #redes-sociais {
        display: initial;
        width: 85%;
        margin: auto;
    }

    #redes-sociais h4 {
        text-align: center;
        padding: 0.3rem;
    }

    #redes-sociais ul {
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;
    }
}