*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

main{
        margin: auto;
        background-color: #4d8764e7;
        opacity: 0.9;
        width: 30rem;
        border-radius: 2rem;
        margin-top: 8%;
        height: 400px;
    }

#fundo{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    background-image: url(../assets/imagem\ fundo\ registre-se.jpg);
}
#registro{
    color: rgb(255, 255, 255);
    text-align: center;
}
#login{
    color: white;
    text-align: center;
}

#forms{
    margin: 5px;
    text-align: center;

}

#email{
    text-align: center;
    margin: 5px;
    
}

#botao{
    justify-content: center;
    
}

#checkbox{
    text-align: center;
    color: whitesmoke;
}
